@model ProjectView
@{
    ViewData["Title"] = "Projects";
    var projects = Model.Projects;
    var tableActive = "table-primary";
}
<div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
        <div class="card mb-3">
            <h1 class="card-header">Projects</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">State</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Completed Date</th>
                    <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var proj in projects)
                    {
                        @if(tableActive == "table-primary")
                        {
                            tableActive = "table-secondary";
                        }
                        else
                        {
                            tableActive = "table-primary";
                        }
                        <tr class="@(tableActive == "table-primary" ? "table-primary" : "table-secondary")">
                            <td>@proj.ProjectName</td>
                            <td>@proj.ProjectState</td>
                            <td>@proj.ProjectStartDate</td>
                            <td>@proj.ProjectDueDate</td>
                            <td>@proj.ProjectCompletedDate</td>
                            <td>link to detail</td>
                        </tr>
                    }
                    
                </tbody>
            </table>
            <div class="card-footer text-muted">
                footer
            </div>
        </div>
    </div>
</div>