<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GMP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GmphanMvc.styles.css" asp-append-version="true" />
    
    @* this link is use for bootstrap icon frorm icons.getbootstrap.com *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    
</head>
<body>
    @{
        @* string areaName = ViewContext.RouteData.Values["area"]?.ToString(); *@
        string controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
        string actionName = ViewContext.RouteData.Values["action"]?.ToString();
        @* Console.WriteLine($"{controllerName}, {actionName}"); *@
    }
    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Visitor" asp-controller="Home" asp-action="Index">GMP</a>
                <!-- Toggler/collapsible Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link @(controllerName == "Home" ? "active" : "")" asp-area="Visitor" asp-controller="Home" asp-action="Index">Home
                                @* <span class="visually-hidden">(current)</span> *@
                            </a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link @(controllerName == "Project" ? "active" : "")" asp-area="Visitor" asp-controller="Project" asp-action="Index">Projects
                            </a>
                        </li> *@
                        @* <li class="nav-item">
                            <a class="nav-link @(controllerName == "Quote" ? "active" : "")" asp-area="Visitor" asp-controller="Quote" asp-action="Index">Quotes</a>
                        </li> *@
                        @* <li class="nav-item">
                            <a class="nav-link @(controllerName == "Resume" ? "active" : "")" asp-area="Visitor" asp-controller="Resume" asp-action="Index">Resume</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link @(controllerName == "About" ? "active" : "")" asp-area="Visitor" asp-controller="About" asp-action="Index">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(controllerName == "Contact" ? "active" : "")" asp-area="Visitor" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item @(controllerName == "Resume" ? "active" : "")" asp-area="Visitor" asp-controller="Resume" asp-action="Index">Resume</a>
                                <a class="dropdown-item @(controllerName == "Project" ? "active" : "")" asp-area="Visitor" asp-controller="Project" asp-action="Index">Projects</a>
                                <a class="dropdown-item @(controllerName == "Quote" ? "active" : "")" asp-area="Visitor" asp-controller="Quote" asp-action="Index">Quotes</a>
                                <a class="dropdown-item @(controllerName == "Post" ? "active" : "")" asp-area="Visitor" asp-controller="Post" asp-action="Index">Posts</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item @(controllerName == "QuoteAdmin" ? "active" : "")" asp-area="Admin" asp-controller="QuoteAdmin" asp-action="Index">Quote Admin</a>
                                <a class="dropdown-item @(controllerName == "ResumeAdmin" ? "active" : "")" asp-area="Admin" asp-controller="ResumeAdmin" asp-action="Index">Resume Admin</a>
                                @* <a class="dropdown-item @(controllerName == "ProjectAdmin" ? "active" : "")" asp-area="Admin" asp-controller="ProjectAdmin" asp-action="Index">Project Admin</a> *@
                                <a class="dropdown-item @(controllerName == "AboutAdmin" ? "active" : "")" asp-area="Admin" asp-controller="AboutAdmin" asp-action="Index">About Admin</a>
                                <a class="dropdown-item @(controllerName == "ContactAdmin" ? "active" : "")" asp-area="Admin" asp-controller="ContactAdmin" asp-action="Index">Contact Admin</a>
                                <div class="dropdown-divider"></div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <form id="logoutForm" class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button id="logout" type="submit" class="dropdown-item ">Logout</button>
                                    </form>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                }
                            </div>
                        </li>
                    </ul>
                    
                    <partial name="_LoginPartial" /> 
                    <!--Remove search box for now since I have no use for it, yet-->
                    @* <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form> *@
                    <button type="button" title="Click for quick information." class="btn btn-secondary ms-3" data-bs-toggle="modal" 
                                data-bs-target="#quickInfoModal"><i class="bi bi-patch-question"></i></button>
                    
                </div>
            </div>
        </nav>
    </header>

    <!-- Main content -->
    <div class="container-fluid ">
        <main role="main" class="pb-3">

            <!--Quick info modal--->
            <div class="modal fade" id="quickInfoModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Quick Info</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>This website is continuously under development, with new features and updates added regularly.</p>
                        </div>
                        <div class="modal-footer">
                            @* <button type="button" class="btn btn-primary">Save changes</button> *@
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="border-top footer bg-primary" data-bs-theme="dark">
        <div class="container">
            &copy; 2024 - GmphanMvc - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</script>
</body>
</html>