@model ResumeView
@{
    var resumeHeader = Model.ResumeHeader;
    var resumeSummary = Model.ResumeSummary;
    var resumeExperiences = Model.ResumeExperiences;
}
<div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
        <div class="card mb-3">
            <h1 class="card-header">Resume</h1>
            <div class="card-body">
                <h2 class="card-title">@resumeHeader.FirstName @resumeHeader.LastName</h2>
                <h5 class="card-subtitle text-muted"><i>@resumeHeader.Headline</i></h5>
                <p class="card-text">
                    @resumeHeader.Email <br/>
                    @resumeHeader.PhoneNum <br/>
                    @resumeHeader.City, @resumeHeader.State, @resumeHeader.ZipCode <br/>
                    <a href="@resumeHeader.LinkedIn" class="card-link">LinkedIn</a> <br/>
                    <a href="@resumeHeader.GitHub" class="card-link">GitHub</a> <br/>
                </p>
            </div>
            <div class="card border-primary mb-3 mx-3">
                <div class="card-header"><h3>Summary</h3></div>
                <div class="card-body">
                    @* <h4 class="card-title">Primary card title</h4> *@
                    <p class="card-text">@resumeSummary.Summary</p>
                </div>
            </div>
            <div class="card border-primary mb-3 mx-3">
                <div class="card-header"><h3>Work Experiences</h3></div>
                <div class="card-body">
                    @foreach (var item in resumeExperiences)
                    {
                        <div class="card mb-2">
                            <div class="card-body">
                                <h4 class="card-title">@item.Title</h4>
                                <h6 class="card-subtitle mb-2 text-muted">@item.Company, @item.City, @item.State, @item.Country</h6>
                                <h6 class="card-subtitle mb-2 text-muted">@item.FromMonth, @item.FromYear - @item.ToMonth, @item.ToYear</h6>
                                <ul>
                                    @foreach(var des in @item.Descriptions)
                                    {
                                        <li>
                                            @des.DescriptionText
                                        </li>
                                    }
                                </ul>
                                
                                <p class="card-text"></p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
           
            
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>
