@model PostDetailView


<div class="card-body">
  @* <h4 class="card-title">@Model.Title</h4> *@
  <h6 class="card-subtitle text-muted">By @Model.Author on @Model.PublishedDate.ToShortDateString()</h6>
  <p class="card-text">@Model.Summary</p>
  <div>@Html.Raw(@Model.Content)</div>
</div>
