@model ContactMeListView
@{
    var tableActive = "table-default";
    var ContactMeDTOs = Model.ContactMeDTOs;
}
<div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2>About Admin</h2>
            </div>
            <div class="card-body p-3">
                <h5 class="card-title">Contact Me List</h5>
                @* <h6 class="card-subtitle text-muted">Support card subtitle</h6> *@
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in ContactMeDTOs)
                        {
                            @if(tableActive == "table-default")
                            {
                                tableActive = "table-active";
                            }
                            else
                            {
                                tableActive = "table-default";
                            }
                            <tr class="@(tableActive == "table-default" ? "table-default" : "table-active")">
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td><a href="mailto:@item.Email">@item.Email</a></td>
                                <td>@item.Message</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>    
